@model TZ.Entity.StandartData

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>@Model.country</p>
    <p>@Model.city_district_with_type</p>
    <p>@Model.federal_district</p>
</div>
